<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.securityptpal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logopal"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logopal"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".division.DivisionLatePermitActivity"
            android:exported="false" />
        <activity
            android:name=".main.DetailExitPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ShowQR"
            android:exported="false" />
        <activity
            android:name=".DocSubcon2"
            android:exported="false" />
        <activity
            android:name=".DocSubcon"
            android:exported="false" />
        <activity
            android:name=".UtamaDataBarang"
            android:exported="false" />
        <activity
            android:name=".UtamaBarang"
            android:exported="false" />
        <activity
            android:name=".UtamaDataVisitor"
            android:exported="false" />
        <activity
            android:name=".UtamaVisitor"
            android:exported="false" />
        <activity
            android:name=".division.DetailExitActivity"
            android:exported="false" />
        <activity
            android:name=".UtamaDataGuest"
            android:exported="false" />
        <activity
            android:name=".UtamaGuest"
            android:exported="false" />
        <activity
            android:name=".Utama_Data_Cometoolate"
            android:exported="false" />
        <activity
            android:name=".UtamaCometoolate"
            android:exported="false" />
        <activity
            android:name=".main.UtamaDataEmployee"
            android:exported="false" />
        <activity
            android:name=".division.ExitPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".division.EmployeePermitActivity"
            android:exported="false" />
        <activity
            android:name=".employee.DetailPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".division.AkunDivisi"
            android:exported="false" />
        <activity
            android:name=".MonitoringVisitor"
            android:exported="false" />
        <activity
            android:name=".Visitor"
            android:exported="false" />
        <activity
            android:name=".main.AkunUtama"
            android:exported="false" />
        <activity
            android:name=".MonitoringBarang"
            android:exported="false" />
        <activity
            android:name=".Barang"
            android:exported="false" />
        <activity
            android:name=".MonitoringComeTooLate"
            android:exported="false" />
        <activity
            android:name=".employee.MonitoringEmployee"
            android:exported="false" />
        <activity
            android:name=".MonitoringSubcontractor"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".FAQ"
            android:exported="false" />
        <activity
            android:name=".MonitoringGuest"
            android:exported="true" />
        <activity
            android:name=".Subcontractor"
            android:exported="true" />
        <activity
            android:name=".CometooLate"
            android:exported="true" />
        <activity
            android:name=".Login2"
            android:exported="false" />
        <activity
            android:name=".Guest"
            android:exported="true" />
        <activity
            android:name=".employee.Employee"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>